# include:
#   - /etc
#   - /home
#   - /root
#   - /var/www
#   - /var/mail
#   - /var/spool/cron
#   - /var/lib/git
#   - /opt
#   - /usr/local
# exclude:
#   - /proc
#   - /sys
#   - /dev
#   - /run
#   - /tmp
#   - /var/tmp
#   - /var/cache
#   - /var/lock
#   - /var/run
#   - /mnt
#   - /media
#   - /cdrom
#   - /lost+found
#   - /swapfile
#   - ~/.local/share/Trash
