# Ignore backup files
*.bak

# Ignore custom scripts
utils/scripts/custom/*

# Ignore custom configs
utils/config/backup/*
utils/config/off/*

# Do not ignore config examples
!utils/config/backup/paths.yaml.example
!utils/config/off/settings.ini.example
