# Ignore backup files
*.bak

# Ignore custom scripts ...
# ... but Do not ignore custom scripts directory
# .gitkeep empty file is just to make git to track this directory
utils/scripts/custom/*
!utils/scripts/custom/
!utils/scripts/custom/.gitkeep

# Ignore custom configs
utils/config/backup/*
utils/config/off/*

# Do not ignore config examples
!utils/config/backup/paths.yaml.example
!utils/config/off/settings.ini.example
